/*CSS Objeto de Estudo = Possuirá Diveras Anotações*/

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Corpo da página - Janela */
body, html {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.container{
  display: flex;
  flex-direction: row;
  gap: 100px;
  background-color: rgb(63, 89, 173);
  padding: 80px 100px 80px 100px;
  border-radius: 100px;
}

#imagem{
  background-color: transparent;
}

img{
  border-radius: 5000px;
}

/* Quadrado responsivo */
#cmp_login {
  width: 30vw;
  height: 30vw;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: 0 0 20px rgba(166, 12, 255, 0.2);
  text-align:center;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

form{
  font-size: 30px;
}

button form{
  font-size: 20px;
}

footer{
  color: black;
  margin-top: auto;
  margin-bottom: 5px;
}



/* Responsividade extra para telas pequenas */
@media (max-width: 600px) {
  #cmp_login {
    width: 60vw;
    height: 60vw;
  }
}